/* Prettified by Source 2 Viewer - https://valveresourceformat.github.io */

PopupReporterUpdates
{
	width: 620px;
}

.MainBody
{
	flow-children: down;
	horizontal-align: center;
	padding: 20px;
	padding-top: 5px;
}

.ActionTakenLabel
{
	max-width: 520px;
	margin: 5px;
	margin-top: 20px;
}

.ButtonRow
{
	flow-children: right;
	horizontal-align: center;
	margin-top: 20px;
}

.ReportReason
{
	font-weight: bold;
	color: #FFFF88AA;
}

