/* Prettified by Source 2 Viewer - https://valveresourceformat.github.io */

@define paperTile01: url("s2r://panorama/images/textures/paper_tile_1k_01_psd.vtex");
PopupSettingsSharePreview.PopupPanel
{
	width: fit-children;
	padding: 0px;
	box-shadow: rgba(0, 0, 0, 0.2) 0px 0px 32px 0px;
	border-radius: 4px;
	border: 0px;
	background-color: none;
	overflow: noclip;
	opacity-mask: url("s2r://panorama/images/buttons/button_nav_mask_threshold_psd.vtex");
	opacity-mask-threshold: 0% 2%;
	animation-name: PopupBackgroundTransitionOn;
	animation-duration: 0.25s;
	animation-iteration-count: 1;
}

PopupSettingsSharePreview.PopupPanel .PopupBackground
{
	ignore-parent-flow: true;
	width: 100%;
	height: 100%;
	background-image: paperTile01;
	brightness: 1.25;
	saturation: 1.25;
	opacity-mask: url("s2r://panorama/images/buttons/button_nav_mask_threshold_psd.vtex");
	opacity-mask-threshold: 2% 2%;
	animation-name: PopupBackgroundTransitionOn;
	animation-duration: 0.25s;
	animation-iteration-count: 1;
}

PopupSettingsSharePreview.PopupPanel .PopupBackgroundShadow
{
	overflow: noclip;
	ignore-parent-flow: true;
	width: 100%;
	height: 100%;
	position: 0px 8px 0px;
	background-color: rgba(0, 0, 0, 0.5);
	opacity-mask: url("s2r://panorama/images/buttons/button_nav_mask_threshold_psd.vtex");
	opacity-mask-threshold: 2% 2%;
	animation-name: PopupBackgroundTransitionOn;
	animation-duration: 0.25s;
	animation-iteration-count: 1;
}

PopupSettingsSharePreview.PopupPanel .PopupContent
{
	flow-children: down;
	width: fit-children;
	height: fit-children;
	min-width: 520px;
	padding: 24px 48px;
}

PopupSettingsSharePreview.PopupPanel .Header
{
	flow-children: down;
	horizontal-align: center;
	padding-top: 24px;
	margin-bottom: 8px;
}

PopupSettingsSharePreview.PopupPanel #TitleRow
{
	horizontal-align: center;
	flow-children: right;
}

PopupSettingsSharePreview.PopupPanel #TitleRow #ScopeIcon
{
	width: 36px;
	height: 36px;
	vertical-align: center;
	margin-right: 12px;
	img-shadow: 0px 0px 16px #000000aa;
}

PopupSettingsSharePreview.PopupPanel #TitleRow #ScopeIcon.DefaultHeroIcon
{
	wash-color: offWhite;
	pre-transform-scale2d: 0.8;
}

PopupSettingsSharePreview.PopupPanel #PreviewScopeRow
{
	flow-children: right;
	width: fit-children;
	height: fit-children;
}

PopupSettingsSharePreview.PopupPanel .ScopeStepButton
{
	vertical-align: center;
	visibility: collapse;
}

PopupSettingsSharePreview.PopupPanel #PrevScopeButton
{
	margin-left: 24px;
}

PopupSettingsSharePreview.PopupPanel #NextScopeButton
{
	margin-right: 24px;
}

PopupSettingsSharePreview.PopupPanel.HasScopeSteps .ScopeStepButton
{
	visibility: visible;
}

PopupSettingsSharePreview.PopupPanel .Title
{
	vertical-align: center;
	max-width: 360px;
	white-space: nowrap;
	text-overflow: shrink;
	font-family: oracle;
	color: offWhite&88;
	font-size: 26px;
	font-weight: bold;
}

PopupSettingsSharePreview.PopupPanel #PreviewCaption
{
	horizontal-align: center;
	text-align: center;
	max-width: 420px;
	margin-top: 6px;
	font-size: 16px;
	color: offWhite&66;
}

PopupSettingsSharePreview.PopupPanel .PreviewSection
{
	flow-children: down;
	horizontal-align: center;
	margin-top: 20px;
	visibility: collapse;
}

PopupSettingsSharePreview.PopupPanel.HasKeybinds #PreviewKeybinds,PopupSettingsSharePreview.PopupPanel.HasReticle #PreviewReticle
{
	visibility: visible;
}

PopupSettingsSharePreview.PopupPanel .PreviewSectionTitle
{
	horizontal-align: center;
	max-width: 420px;
	white-space: nowrap;
	text-overflow: shrink;
	margin-bottom: 12px;
	color: offWhite&88;
	font-size: 18px;
	font-weight: bold;
}

PopupSettingsSharePreview.PopupPanel #PreviewKeybindMap
{
	horizontal-align: center;
}

PopupSettingsSharePreview.PopupPanel #PreviewKeybindsFooter
{
	horizontal-align: center;
	flow-children: right;
	margin-top: 16px;
}

PopupSettingsSharePreview.PopupPanel #KeyboardShapeControls
{
	flow-children: right;
	vertical-align: center;
	margin-left: 48px;
}

PopupSettingsSharePreview.PopupPanel #KeyboardShapeControls #KeyboardShapeLabel
{
	max-width: 140px;
	vertical-align: center;
	text-align: right;
	margin-right: 12px;
	font-size: 16px;
	color: offWhite&88;
}

PopupSettingsSharePreview.PopupPanel #KeyboardShapeControls #KeyboardShapeDropDown
{
	width: 300px;
	max-width: 300px;
	vertical-align: center;
}

PopupSettingsSharePreview.PopupPanel #PreviewReticleContainer
{
	horizontal-align: center;
	width: 300px;
	height: 300px;
	border-radius: 10px;
	background-color: #59544C;
	opacity-mask: url("s2r://panorama/images/masks/rough_edge_01_png.vtex");
	box-shadow: 0px 1px 4px rgba(0, 0, 0, 0.5);
}

PopupSettingsSharePreview.PopupPanel #PreviewReticleContainer Image
{
	width: 100%;
	height: 100%;
	border: 0px;
	opacity-mask: url("s2r://panorama/images/shop/catalog/cards/icon_mask03_psd.vtex");
}

PopupSettingsSharePreview.PopupPanel .ButtonRow
{
	horizontal-align: center;
	flow-children: right;
	margin-top: 24px;
}

PopupSettingsSharePreview.PopupPanel #EscapeButton
{
	visibility: collapse;
}

@keyframes 'PopupBackgroundTransitionOn'
{
	0%
	{
		opacity-mask: url("s2r://panorama/images/buttons/button_nav_mask_threshold_psd.vtex");
		opacity-mask-threshold: 100% 2%;
	}
	
	100%
	{
		opacity-mask: url("s2r://panorama/images/buttons/button_nav_mask_threshold_psd.vtex");
		opacity-mask-threshold: 2% 2%;
	}
	
}

