/* Prettified by Source 2 Viewer - https://valveresourceformat.github.io */

CitadelSettingsColorSlider
{
	flow-children: right;
	vertical-align: center;
}

CitadelSettingsColorSlider TextEntry
{
	vertical-align: center;
	max-width: 88px;
	height: fit-children;
	font-size: 16px;
	padding: 4px;
	border: 2px solid offWhite&00;
	border-radius: 4px;
	background-color: offBlack&00;
	box-shadow: inset rgba( 0, 0, 0, 0) 0px 2px 6px;
	background-image: none;
	transition-property: color, background-color, border-color, background-image;
	transition-duration: 0.3s;
}

CitadelSettingsColorSlider TextEntry:focus
{
	color: white;
	border-color: offWhite&11;
	background-color: offBlack&66;
	background-image: url("s2r://panorama/images/textures/paper_tile_1k_01_png.vtex");
	box-shadow: inset rgba( 0, 0, 0, 0.5) 0px 2px 6px;
}

CitadelSettingsColorSlider:hover TextEntry
{
	color: offWhite;
	border-color: offWhite&11;
	background-color: offBlack&33;
	background-image: url("s2r://panorama/images/textures/paper_tile_1k_01_png.vtex");
	box-shadow: inset rgba( 0, 0, 0, 0.5) 0px 2px 6px;
}

CitadelSettingsColorSlider.ModifiedValue TextEntry
{
	color: brandGreen;
}

CitadelSettingsColorSlider.ModifiedValue .SettingsSliderNotch
{
	box-shadow: offBlack&33 0px 0px 3px 0px;
	width: 3px;
	height: 12px;
}

CitadelSettingsColorSlider.IsDefault .SettingsSliderDefaultValue
{
	color: brandGreen;
}

CitadelSettingsColorSlider.Dragging .SettingsSliderNotch
{
	height: 24px;
}

CitadelSettingsColorSlider.IsDefault.Dragging
{
	sound: "UI.TeamPick.Select";
}

CitadelSettingsColorSlider:hover .SettingsSliderNotch
{
	opacity: 1;
}

CitadelSettingsColorSlider:hover .SettingsSliderDefaultValue
{
	opacity: 1;
}

CitadelSettingsColorSlider .TitleContainer
{
	vertical-align: center;
	width: fit-children;
}

CitadelSettingsColorSlider #Title
{
	width: 280px;
}

CitadelSettingsColorSlider #ColorSlider
{
	vertical-align: center;
	width: 264px;
	margin-right: 12px;
}

CitadelSettingsColorSlider Slider.HorizontalSlider #SliderTrack
{
	height: 8px;
	padding: 0px 10px;
	vertical-align: center;
	border-radius: 4px;
	box-shadow: offBlack&66 0px 0px 6px 0px;
	background-color: gradient( linear, 0% 0%, 100% 0%, from( #000000 ), color-stop( 0.5, #000000 ), color-stop( 0.5, #ffffff ), to( #ffffff ) );
}

CitadelSettingsColorSlider Slider.HorizontalSlider #SliderTrackProgress
{
	background-color: rgba( 0, 0, 0, 0 );
	box-shadow: none;
}

CitadelSettingsColorSlider .ColorSliderTrack
{
	width: 100%;
	height: 100%;
	background-color: gradient( linear, 0% 0%, 100% 0%, from( #000000 ), color-stop( 0.08, #ff0000 ), color-stop( 0.22, #ffff00 ), color-stop( 0.36, #00ff00 ), color-stop( 0.50, #00ffff ), color-stop( 0.64, #0000ff ), color-stop( 0.78, #ff00ff ), color-stop( 0.92, #ff0000 ), to( #ffffff ) );
}

CitadelSettingsColorSlider Slider.HorizontalSlider #SliderThumb
{
	width: 20px;
	height: 20px;
	border-radius: 100%;
	border: 3px solid #000000;
	background-color: #ffffff;
	box-shadow: offBlack&88 0px 0px 6px 0px;
	transition-property: brightness;
	transition-duration: 0.2s;
}

CitadelSettingsColorSlider Slider.HorizontalSlider #SliderThumb:hover
{
	brightness: 1.2;
}

CitadelSettingsColorSlider Slider.HorizontalSlider #SliderThumb:disabled
{
	background-color: #333333;
}

CitadelSettingsColorSlider .ColorSliderSwatch
{
	context-menu-position: right;
	vertical-align: center;
	margin-right: 8px;
	width: 22px;
	height: 22px;
	border-radius: 4px;
	border: 1px solid offWhite&66;
	box-shadow: offBlack&66 0px 0px 4px 0px;
	background-color: #ffffff;
	transition-property: border-color, brightness;
	transition-duration: 0.2s;
}

CitadelSettingsColorSlider .ColorSliderSwatch:hover
{
	border-color: offWhite;
	brightness: 1.2;
}

CitadelSettingsColorSlider .SettingsSliderNotch
{
	height: 0px;
	width: 3px;
	transition-property: background-color, box-shadow, height, opacity, width;
	transition-duration: 0.3s;
	border-radius: 10px;
	vertical-align: middle;
	box-shadow: brandGreen&dd fill 0px 0px 5px 1px;
	background-color: offWhite&22;
	opacity: 0;
}

CitadelSettingsColorSlider .SettingsSliderDefaultValue
{
	font-size: 10px;
	font-family: sans;
	color: offWhite&44;
	vertical-align: top;
	margin-top: -10px;
	padding-right: 0px;
	transition-property: opacity, color;
	transition-duration: 0.3s;
	opacity: 0;
}

CitadelSettingsColorSlider:disabled Panel Label
{
	color: #333333;
}

CitadelSettingsColorSlider Label
{
	vertical-align: center;
	margin: 0px;
	padding-right: 16px;
	font-size: 18px;
	font-weight: semi-bold;
	color: offWhite&33;
}

