/* Prettified by Source 2 Viewer - https://valveresourceformat.github.io */

CitadelSettingsToggle
{
	flow-children: right;
}

CitadelSettingsToggle.RightLeftFlow
{
	flow-children: left;
}

CitadelSettingsToggle.RightLeftFlow .SwitchButton
{
	margin-right: 16px;
}

CitadelSettingsToggle:active
{
	sound: soundMainMenuActivate;
}

.SwitchButton
{
	width: 40px;
	height: 20px;
	vertical-align: center;
	background-repeat: no-repeat;
	background-position: center;
	background-size: 40px 20px;
	background-image: url("s2r://panorama/images/buttons/switch_background.vsvg");
	flow-children: right;
	transition-property: img-shadow;
	transition-duration: 0.3s;
}

.SwitchButton:active
{
	brightness: 1.5;
	transform: scale3d( 0.98, 0.98, 1 );
}

#handle
{
	transition-property: transform;
	transition-duration: 0.1s;
	transition-timing-function: ease-out;
}

