/* Prettified by Source 2 Viewer - https://valveresourceformat.github.io */

.BadgeImage
{
	width: 256px;
	height: 256px;
	background-size: contain;
	background-repeat: no-repeat;
	background-position: center;
}

.BadgeImage .Subrank
{
	horizontal-align: center;
	text-align: center;
	vertical-align: middle;
	color: #000000dd;
	font-size: 30px;
	font-family: oracle;
	font-weight: bold;
}

.Rank0 .BadgeImage,.Rank0.BadgeImage
{
	background-image: url("s2r://panorama/images/ranked/badges/rank00_lg_psd.vtex");
}

.Rank0 .BadgeImage .Subrank,.Rank0.BadgeImage .Subrank
{
	visibility: collapse;
}

.Rank1 .BadgeImage,.Rank1.BadgeImage
{
	background-image: url("s2r://panorama/images/ranked/badges/rank01_lg_psd.vtex");
}

.Rank1 .BadgeImage .Subrank,.Rank1.BadgeImage .Subrank
{
	transform: translateY( 46px ) translateX( -1px );
	text-shadow: 0px 1px 0px 1 #785631;
}

.Rank2 .BadgeImage,.Rank2.BadgeImage
{
	background-image: url("s2r://panorama/images/ranked/badges/rank02_lg_psd.vtex");
}

.Rank2 .BadgeImage .Subrank,.Rank2.BadgeImage .Subrank
{
	transform: translateY( 52px ) translateX( -2px );
	text-shadow: 0px 1px 0px 1 #7c6e63;
}

.Rank3 .BadgeImage,.Rank3.BadgeImage
{
	background-image: url("s2r://panorama/images/ranked/badges/rank03_lg_psd.vtex");
}

.Rank3 .BadgeImage .Subrank,.Rank3.BadgeImage .Subrank
{
	transform: translateY( 36px ) translateX( -1px );
	text-shadow: 0px 1px 0px 1 #8b9092;
}

.Rank4 .BadgeImage,.Rank4.BadgeImage
{
	background-image: url("s2r://panorama/images/ranked/badges/rank04_lg_psd.vtex");
}

.Rank4 .BadgeImage .Subrank,.Rank4.BadgeImage .Subrank
{
	transform: translateY( 40px ) translateX( -2px );
	text-shadow: 0px 1px 0px 1 #a57941;
}

.Rank5 .BadgeImage,.Rank5.BadgeImage
{
	background-image: url("s2r://panorama/images/ranked/badges/rank05_lg_psd.vtex");
}

.Rank5 .BadgeImage .Subrank,.Rank5.BadgeImage .Subrank
{
	transform: translateY( 48px ) translateX( -2px );
	text-shadow: 0px 1px 0px 1 #b9d0e0;
}

.Rank6 .BadgeImage,.Rank6.BadgeImage
{
	background-image: url("s2r://panorama/images/ranked/badges/rank06_lg_psd.vtex");
}

.Rank6 .BadgeImage .Subrank,.Rank6.BadgeImage .Subrank
{
	transform: translateY( 40px ) translateX( -1px );
	text-shadow: 0px 1px 0px 1 #ddb854;
}

.Rank7 .BadgeImage,.Rank7.BadgeImage
{
	background-image: url("s2r://panorama/images/ranked/badges/rank07_lg_psd.vtex");
}

.Rank7 .BadgeImage .Subrank,.Rank7.BadgeImage .Subrank
{
	transform: translateY( 50px ) translateX( -1px );
	text-shadow: 0px 1px 4px 0px #e3eade;
	color: #050a27dd;
}

.Rank8 .BadgeImage,.Rank8.BadgeImage
{
	background-image: url("s2r://panorama/images/ranked/badges/rank08_lg_psd.vtex");
}

.Rank8 .BadgeImage .Subrank,.Rank8.BadgeImage .Subrank
{
	transform: translateY( 48px ) translateX( -1px );
	text-shadow: 0px 1px 0px 1 #d7e1eb;
}

.Rank9 .BadgeImage,.Rank9.BadgeImage
{
	background-image: url("s2r://panorama/images/ranked/badges/rank09_lg_psd.vtex");
}

.Rank9 .BadgeImage .Subrank,.Rank9.BadgeImage .Subrank
{
	font-size: 24px;
	transform: translateY( 77px );
	text-shadow: 0px 1px 0px 0px #d2dcef;
	color: #000000cc;
}

.Rank10 .BadgeImage,.Rank10.BadgeImage
{
	background-image: url("s2r://panorama/images/ranked/badges/rank10_lg_psd.vtex");
}

.Rank10 .BadgeImage .Subrank,.Rank10.BadgeImage .Subrank
{
	font-size: 24px;
	transform: translateY( 76px );
	text-shadow: 0px 1px 0px 0px #f2fed6;
	color: #000000cc;
}

.Rank11 .BadgeImage,.Rank11.BadgeImage
{
	background-image: url("s2r://panorama/images/ranked/badges/rank11_lg_psd.vtex");
}

.Rank11 .BadgeImage .Subrank,.Rank11.BadgeImage .Subrank
{
	font-size: 24px;
	transform: translateY( 76px );
	text-shadow: 0px 1px 0px 0px #fafdfc;
	color: #000000cc;
}

CitadelRankedBadgeFull
{
	flow-children: down;
}

CitadelRankedBadgeFull .BadgeName
{
	horizontal-align: center;
	width: 100%;
	max-height: 30px;
	text-overflow: shrink;
	font-family: oracle;
	font-weight: bold;
	text-align: center;
	font-size: 20px;
	margin-bottom: 4px;
	color: #7a9392;
	color: offWhite&88;
	opacity-mask-scale: 100% 150%;
}

CitadelRankedBadgeFull .BadgeMaterial
{
	horizontal-align: center;
	width: 100%;
	max-height: 30px;
	text-overflow: shrink;
	font-family: oracle;
	font-weight: bold;
	margin-top: -6px;
	text-align: center;
	font-size: 20px;
	margin-bottom: 4px;
	color: offWhite&11;
	visibility: collapse;
}

CitadelRankedBadgeFull.ShowMaterial.HasMaterialName .BadgeMaterial
{
	visibility: visible;
}

CitadelRankedBadgeMini.Mini.BadgeImage
{
	ui-scale: 25%;
}

CitadelRankedBadgeMini.Mini.BadgeImage .Subrank
{
	color: #000000ee;
	transform: none;
	font-size: 72px;
	text-shadow: 0px 0px 4px #fff6;
	margin: 48px 0px 0px -2px;
}

CitadelRankedBadgeMini.Mini.BadgeImage.Rank1 .Subrank
{
	text-shadow: 0px 0px 4px #6b4e2f;
}

CitadelRankedBadgeMini.Mini.BadgeImage.Rank2 .Subrank
{
	text-shadow: 0px 0px 4px #925d4b;
	text-shadow: 0px 0px 4px #7c6e63;
}

CitadelRankedBadgeMini.Mini.BadgeImage.Rank3 .Subrank
{
	text-shadow: 0px 0px 4px #8b9092;
}

CitadelRankedBadgeMini.Mini.BadgeImage.Rank4 .Subrank
{
	text-shadow: 0px 0px 4px #a57941;
}

CitadelRankedBadgeMini.Mini.BadgeImage.Rank5 .Subrank
{
	text-shadow: 0px 0px 4px #b9d0e0;
}

CitadelRankedBadgeMini.Mini.BadgeImage.Rank6 .Subrank
{
	text-shadow: 0px 0px 4px #ddb854;
}

CitadelRankedBadgeMini.Mini.BadgeImage.Rank7 .Subrank
{
	text-shadow: 0px 0px 4px #e3eade;
}

CitadelRankedBadgeMini.Mini.BadgeImage.Rank8 .Subrank
{
	text-shadow: 0px 0px 4px #d7e1eb;
}

CitadelRankedBadgeMini.Mini.BadgeImage.Rank9 .Subrank
{
	text-shadow: 0px 0px 4px #d2dcef;
}

CitadelRankedBadgeMini.Mini.BadgeImage.Rank10 .Subrank
{
	text-shadow: 0px 0px 4px #f2fed6;
}

CitadelRankedBadgeMini.Mini.BadgeImage.Rank11 .Subrank
{
	text-shadow: 0px 0px 4px #fafdfc;
}

#MaxBadge .BadgeImage
{
	ui-scale: 40%;
}

#MaxBadge .BadgeName
{
	font-size: 18px;
}

#OverviewTabContents .BadgeImage
{
	ui-scale: 80%;
}

#OverviewTabContents .BadgeName
{
	font-size: 20px;
}

CitadelRankedBadgeChalk.Chalk.BadgeImage.Rank0
{
	opacity: 0.0;
}

CitadelRankedBadgeChalk.Chalk.BadgeImage.Rank1
{
	background-image: url("s2r://panorama/images/ranked/badges/rank01_chalk_psd.vtex");
}

CitadelRankedBadgeChalk.Chalk.BadgeImage.Rank2
{
	background-image: url("s2r://panorama/images/ranked/badges/rank02_chalk_psd.vtex");
}

CitadelRankedBadgeChalk.Chalk.BadgeImage.Rank3
{
	background-image: url("s2r://panorama/images/ranked/badges/rank03_chalk_psd.vtex");
}

CitadelRankedBadgeChalk.Chalk.BadgeImage.Rank4
{
	background-image: url("s2r://panorama/images/ranked/badges/rank04_chalk_psd.vtex");
}

CitadelRankedBadgeChalk.Chalk.BadgeImage.Rank5
{
	background-image: url("s2r://panorama/images/ranked/badges/rank05_chalk_psd.vtex");
}

CitadelRankedBadgeChalk.Chalk.BadgeImage.Rank6
{
	background-image: url("s2r://panorama/images/ranked/badges/rank06_chalk_psd.vtex");
}

CitadelRankedBadgeChalk.Chalk.BadgeImage.Rank7
{
	background-image: url("s2r://panorama/images/ranked/badges/rank07_chalk_psd.vtex");
}

CitadelRankedBadgeChalk.Chalk.BadgeImage.Rank8
{
	background-image: url("s2r://panorama/images/ranked/badges/rank08_chalk_psd.vtex");
}

CitadelRankedBadgeChalk.Chalk.BadgeImage.Rank9
{
	background-image: url("s2r://panorama/images/ranked/badges/rank09_chalk_psd.vtex");
}

CitadelRankedBadgeChalk.Chalk.BadgeImage.Rank10
{
	background-image: url("s2r://panorama/images/ranked/badges/rank10_chalk_psd.vtex");
}

CitadelRankedBadgeChalk.Chalk.BadgeImage.Rank11
{
	background-image: url("s2r://panorama/images/ranked/badges/rank11_chalk_psd.vtex");
}

