/* Prettified by Source 2 Viewer - https://valveresourceformat.github.io */

@define RingInner: 0.095;
@define RingInnerEdge: 0.09498;
@define RingOuter: 0.165;
@define RingOuterEdge: 0.16502;
@define RingFade: 0.30;
@define RingInner_Depth1: 0.17;
@define RingInnerEdge_Depth1: 0.16998;
@define RingOuter_Depth1: 0.225;
@define RingOuterEdge_Depth1: 0.22502;
@define RadialPanelSize: 1000px;
@define RingIconRadiusGap: 22px;
@define RingIconAngularGap: 4px;
@define RingIconRadiusGap_Depth1: 12px;
@define RingIconAngularGap_Depth1: 4px;
@define RingIconMinSize_Depth1: 24px;
@define cppRadialDeadzoneRadius_Inner: 0.095;
@define MinimapRadialBigBackgroundRadialGradientColor: rgba(28, 28, 28, 0.8);
@define BGRingBGColor: rgba(18, 18, 18, 0.8);
@define RingBGColor: rgba(18, 18, 18, 0.8);
@define RingBGColor_Hover: offWhite;
@define RingBGColor_Select: offWhite;
@define MinimapRadialBigBackgroundRadialGradient: gradient( radial, 50% 50%, 0% 0%, 100% 100%, from( rgba( 0, 0, 0, 0 ) ), color-stop( RingInnerEdge, rgba(0, 0, 0, 0) ), color-stop( RingInner, MinimapRadialBigBackgroundRadialGradientColor ), color-stop( RingOuter, MinimapRadialBigBackgroundRadialGradientColor ), color-stop( RingFade, rgba(0, 0, 0, 0) ), to( rgba( 0, 0, 0, 0 ) ) );
@define MinimapRadialBigBackgroundRadialGradient_Clear: gradient( radial, 50% 50%, 0% 0%, 100% 100%, from( rgba( 0, 0, 0, 0 ) ), color-stop( RingInnerEdge, rgba(0, 0, 0, 0) ), color-stop( RingInner, rgba(0, 0, 0, 0) ), color-stop( RingOuter, rgba(0, 0, 0, 0) ), color-stop( RingFade, rgba(0, 0, 0, 0) ), to( rgba( 0, 0, 0, 0 ) ) );
@define OuterRingSegmentGradient: gradient( radial, 50% 50%, 0% 0%, 100% 100%, from( rgba( 0, 0, 0, 0 ) ), color-stop( RingInnerEdge, rgba(0, 0, 0, 0) ), color-stop( RingInner, BGRingBGColor ), color-stop( RingOuter, BGRingBGColor ), color-stop( RingOuterEdge, rgba(0, 0, 0, 0) ), to( rgba( 0, 0, 0, 0 ) ) );
@define OuterRingSegmentGradient_Clear: gradient( radial, 50% 50%, 0% 0%, 100% 100%, from( rgba( 0, 0, 0, 0 ) ), color-stop( RingInnerEdge, rgba(0, 0, 0, 0) ), color-stop( RingInner, rgba(0, 0, 0, 0) ), color-stop( RingOuter, rgba(0, 0, 0, 0) ), color-stop( RingOuterEdge, rgba(0, 0, 0, 0) ), to( rgba( 0, 0, 0, 0 ) ) );
@define InnerRingSegmentGradient: gradient( radial, 50% 50%, 0% 0%, 100% 100%, from( rgba(0, 0, 0, 0) ), color-stop( RingInnerEdge, rgba(0, 0, 0, 0) ), color-stop( RingInner, RingBGColor ), color-stop( RingOuter, RingBGColor ), color-stop( RingOuterEdge, rgba(0, 0, 0, 0) ), to( rgba(0, 0, 0, 0) ) );
@define InnerRingSegmentGradient_Clear: gradient( radial, 50% 50%, 0% 0%, 100% 100%, from( rgba(0, 0, 0, 0) ), color-stop( RingInnerEdge, rgba(0, 0, 0, 0) ), color-stop( RingInner, rgba(0, 0, 0, 0) ), color-stop( RingOuter, rgba(0, 0, 0, 0) ), color-stop( RingOuterEdge, rgba(0, 0, 0, 0) ), to( rgba(0, 0, 0, 0) ) );
@define InnerRingSegmentGradient_Hover: gradient( radial, 50% 50%, 0% 0%, 100% 100%, from( rgba(0, 0, 0, 0) ), color-stop( RingInnerEdge, rgba(0, 0, 0, 0) ), color-stop( RingInner, RingBGColor_Hover ), color-stop( RingOuter, RingBGColor_Hover ), color-stop( RingOuterEdge, rgba(0, 0, 0, 0) ), to( rgba(0, 0, 0, 0) ) );
@define InnerRingSegmentGradient_Select: gradient( radial, 50% 50%, 0% 0%, 100% 100%, from( rgba(0, 0, 0, 0) ), color-stop( RingInnerEdge, rgba(0, 0, 0, 0) ), color-stop( RingInner, RingBGColor_Select ), color-stop( RingOuter, RingBGColor_Select ), color-stop( RingOuterEdge, rgba(0, 0, 0, 0) ), to( rgba(0, 0, 0, 0) ) );
@define InnerRingSegmentGradient_Clear_Depth1: gradient( radial, 50% 50%, 0% 0%, 100% 100%, from( rgba(0, 0, 0, 0) ), color-stop( RingInnerEdge_Depth1, rgba(0, 0, 0, 0) ), color-stop( RingInner_Depth1, rgba(0, 0, 0, 0) ), color-stop( RingOuter_Depth1, rgba(0, 0, 0, 0) ), color-stop( RingOuterEdge_Depth1, rgba(0, 0, 0, 0) ), to( rgba(0, 0, 0, 0) ) );
@define InnerRingSegmentGradient_Depth1: gradient( radial, 50% 50%, 0% 0%, 100% 100%, from( rgba(0, 0, 0, 0) ), color-stop( RingInnerEdge_Depth1, rgba(0, 0, 0, 0) ), color-stop( RingInner_Depth1, RingBGColor ), color-stop( RingOuter_Depth1, RingBGColor ), color-stop( RingOuterEdge_Depth1, rgba(0, 0, 0, 0) ), to( rgba(0, 0, 0, 0) ) );
@define InnerRingSegmentGradient_Hover_Depth1: gradient( radial, 50% 50%, 0% 0%, 100% 100%, from( rgba(0, 0, 0, 0) ), color-stop( RingInnerEdge_Depth1, rgba(0, 0, 0, 0) ), color-stop( RingInner_Depth1, RingBGColor_Hover ), color-stop( RingOuter_Depth1, RingBGColor_Hover ), color-stop( RingOuterEdge_Depth1, rgba(0, 0, 0, 0) ), to( rgba(0, 0, 0, 0) ) );
@define InnerRingSegmentGradient_Select_Depth1: gradient( radial, 50% 50%, 0% 0%, 100% 100%, from( rgba(0, 0, 0, 0) ), color-stop( RingInnerEdge_Depth1, rgba(0, 0, 0, 0) ), color-stop( RingInner_Depth1, RingBGColor_Select ), color-stop( RingOuter_Depth1, RingBGColor_Select ), color-stop( RingOuterEdge_Depth1, rgba(0, 0, 0, 0) ), to( rgba(0, 0, 0, 0) ) );
@keyframes 'OnSelected_Segment'
{
	0%
	{
		background-color: InnerRingSegmentGradient;
	}
	
	49%
	{
		background-color: InnerRingSegmentGradient;
	}
	
	50%
	{
		background-color: InnerRingSegmentGradient_Hover;
	}
	
	99%
	{
		background-color: InnerRingSegmentGradient_Hover;
	}
	
	100%
	{
		background-color: InnerRingSegmentGradient_Clear;
	}
	
}

@keyframes 'OnSelected_Segment_Depth1'
{
	0%
	{
		background-color: InnerRingSegmentGradient_Depth1;
	}
	
	49%
	{
		background-color: InnerRingSegmentGradient_Depth1;
	}
	
	50%
	{
		background-color: InnerRingSegmentGradient_Hover_Depth1;
	}
	
	99%
	{
		background-color: InnerRingSegmentGradient_Hover_Depth1;
	}
	
	100%
	{
		background-color: InnerRingSegmentGradient_Clear_Depth1;
	}
	
}

#RadialPanel
{
	width: RadialPanelSize;
	height: RadialPanelSize;
	background-color: MinimapRadialBigBackgroundRadialGradient_Clear;
}

#PingDescriptionAnchor
{
	visibility: visible;
}

#PingDescription
{
	opacity: 0.0;
	transition-property: opacity;
	transition-duration: 0.25s;
	transition-delay: 0.0s;
	transition-timing-function: ease-in-out;
}

#PingDescription .bIsRevealedSegment
{
	visibility: collapse;
}

.radial_open #PingDescription
{
	opacity: 1.0;
	transition-delay: 0.0s;
}

.radial_open .SegmentHover.bHasChildSegments #PingDescription,.radial_open .bHasChildSegments.bIsOnHoveredBranch #PingDescription
{
	opacity: 0.0;
	transition-duration: 0.125s;
	transition-delay: 0.0s;
}

.radial_open #RadialPanel
{
	background-color: MinimapRadialBigBackgroundRadialGradient;
}

.radial_open.bIsEmptyRadial #RadialPanel
{
	background-color: MinimapRadialBigBackgroundRadialGradient_Clear;
}

.RadialBackgroundsContainer
{
	background-color: OuterRingSegmentGradient_Clear;
}

.radial_open .RadialBackgroundsContainer
{
	background-color: OuterRingSegmentGradient;
}

.radial_open.bIsEmptyRadial .RadialBackgroundsContainer
{
	background-color: OuterRingSegmentGradient_Clear;
}

.RadialBackground
{
	background-color: InnerRingSegmentGradient_Clear;
}

.radial_open .RadialBackground
{
	background-color: InnerRingSegmentGradient;
}

.SegmentHover.RadialBackground
{
	background-color: InnerRingSegmentGradient_Hover;
}

.SegmentSelected.RadialBackground
{
	background-color: InnerRingSegmentGradient_Hover;
}

.RadialBackgroundsContainer .SegmentSelected.RadialBackground
{
	animation-name: OnSelected_Segment;
	background-color: InnerRingSegmentGradient_Select;
}

.RadialBackground.radialDepth1
{
	background-color: InnerRingSegmentGradient_Clear_Depth1;
}

.radial_open .RadialBackground.radialDepth1
{
	background-color: InnerRingSegmentGradient_Depth1;
}

.SegmentHover.RadialBackground.radialDepth1
{
	background-color: InnerRingSegmentGradient_Hover_Depth1;
}

.SegmentSelected.RadialBackground.radialDepth1
{
	background-color: InnerRingSegmentGradient_Hover_Depth1;
}

.RadialBackgroundsContainer .SegmentSelected.RadialBackground.radialDepth1
{
	animation-name: OnSelected_Segment_Depth1;
	background-color: InnerRingSegmentGradient_Select_Depth1;
}

.SegmentHover.bIsEmptySegment.RadialBackground,.SegmentSelected.bIsEmptySegment.RadialBackground
{
	background-color: InnerRingSegmentGradient;
}

.HoverLabel
{
	transform: translateY( 0px );
}

