/* Prettified by Source 2 Viewer - https://valveresourceformat.github.io */

CitadelPlayPageBots
{
	width: 100%;
	height: 100%;
	background-color: #000000aa;
}

.botOption .TextArea
{
	horizontal-align: center;
	width: fit-children;
	margin-bottom: 0px;
}

.DescText
{
	font-family: oracle;
	text-transform: uppercase;
	font-weight: bold;
	margin-bottom: 4px;
	font-size: 26px;
	opacity: 0.6;
	margin-top: 14px;
}

.botOption .playImage
{
	width: 70%;
	height: 70%;
	horizontal-align: center;
	vertical-align: center;
}

.botOption .backgroundImg
{
	background-image: url("s2r://panorama/images/main_menu/play/card_custom_psd.vtex");
}

.botOption .playImage
{
	background-image: url("s2r://panorama/images/main_menu/play/card_bots_subject_sm_psd.vtex");
}

.botsEasy .playImage
{
	background-image: url("s2r://panorama/images/main_menu/play/card_bots_easy_png.vtex");
}

.botsMed .playImage
{
	background-image: url("s2r://panorama/images/main_menu/play/card_bots_med_png.vtex");
}

.botsHard .playImage
{
	background-image: url("s2r://panorama/images/main_menu/play/card_bots_hard_png.vtex");
}

