/* Prettified by Source 2 Viewer - https://valveresourceformat.github.io */

@import url("s2r://panorama/styles/citadel_hero_builds_shared.vcss");
CitadelBuildDetails
{
	flow-children: down;
	width: 600px;
	height: 100%;
}

#Background
{
	width: 100%;
	height: 100%;
	ignore-parent-flow: true;
	opacity-mask: url("s2r://panorama/images/textures/paper_tile_1k_02_dark_psd.vtex");
	ignore-parent-flow: true;
	width: 100%;
	height: 100%;
	margin: 0px 4px;
	background-repeat: repeat;
	background-size: 1024px;
	opacity-mask: url("s2r://panorama/images/masks/rough_edge_02_png.vtex");
	opacity: 1;
	transition-property: opacity;
	transition-duration: 0.2s;
}

.HeroBuildsExtraInfo
{
	width: 100%;
	height: 100%;
	border-radius: 3px;
	flow-children: down;
}

.Empty .HeroBuildsExtraInfo
{
	visibility: collapse;
}

.HeroBuildsExtraInfo #BuildInfo
{
	width: 100%;
	flow-children: down;
	padding: 20px 30px 20px 40px;
}

.HideMods .HeroBuildsExtraInfo
{
	height: fit-children;
}

.HideMods .HeroBuildsExtraInfo #BuildInfo
{
	padding: 10px 20px 10px 20px;
}

.HeroBuildsExtraInfo .BuildName
{
	font-weight: bold;
	font-size: 30px;
	height: 48px;
	text-overflow: shrink;
	vertical-align: center;
	font-family: oracle;
}

.HeroBuildsExtraInfo .LastUpdated
{
	font-size: 16px;
	font-weight: medium;
	overflow: squish scroll;
	opacity: 0.4;
	max-width: 500px;
}

.HeroBuildsExtraInfo #BuildDetails
{
	margin-top: 20px;
	flow-children: down;
	width: 100%;
	height: fit-children;
}

.HeroBuildsExtraInfo #BuildDetails #DetailsTop
{
	flow-children: right;
	width: 100%;
	border-bottom: 3px solid deadlockGreen;
}

.HeroBuildsExtraInfo #BuildDetails #DetailsTop .TagList
{
	horizontal-align: right;
	flow-children: right;
	margin-bottom: 4px;
	max-height: 40px;
}

.HeroBuildsExtraInfo #BuildDetails #BuildDetailsTabs
{
	flow-children: right;
	padding: 10px 0px 0px 0px;
}

.HeroBuildsExtraInfo #BuildDetails #BuildDetailsTabs .details_tab
{
	margin-right: 10px;
}

.HeroBuildsExtraInfo #BuildDetails #BuildDetailsTabs .details_tab .tab_bg
{
	width: 100%;
	height: 100%;
}

.HeroBuildsExtraInfo #BuildDetails #BuildDetailsTabs .details_tab Label
{
	font-family: block;
	font-size: 16px;
	text-transform: uppercase;
	padding: 4px 10px;
	opacity: 0.7;
}

.HeroBuildsExtraInfo #BuildDetails_Overview
{
	flow-children: down;
	width: 100%;
	background-color: offBlack&90;
	padding: 10px;
	overflow: squish scroll;
}

.HeroBuildsExtraInfo #BuildDetails_Overview .BuildDescription
{
	margin: 4px;
	font-size: 18px;
	font-weight: semi-bold;
	opacity: 0.7;
	font-family: sans;
	width: 100%;
}

.NoLastUpdatedTime .HeroBuildsExtraInfo .LastUpdated
{
	opacity: 0;
}

.HeroBuildsExtraInfo .AuthoringInfo
{
	flow-children: right;
	margin-bottom: 4px;
}

.HeroBuildsExtraInfo #AuthorAvatar
{
	width: 36px;
	height: 36px;
	vertical-align: top;
	margin: 3px;
	margin-left: 3px;
	margin-right: 8px;
}

.IsDefaultBuild .HeroBuildsExtraInfo .ExtraInfo
{
	visibility: collapse;
}

.MainBranch .IsDefaultBuild .HeroBuildsExtraInfo .ExtraInfo
{
	visibility: visible;
}

.HeroBuildsExtraInfo #BuildMetaData
{
	margin-left: 5px;
}

.HeroBuildsExtraInfo #ControlArea
{
	width: 100%;
}

.HeroBuildsExtraInfo #ControlArea .ExtraInfo
{
	flow-children: right;
}

.HeroBuildsExtraInfo #ControlArea .ExtraInfo Label
{
	vertical-align: center;
	font-weight: semi-bold;
	font-size: 16px;
}

.HeroBuildsExtraInfo #ControlArea .ExtraInfo .buildIDbox
{
	vertical-align: middle;
	margin-left: 10px;
}

.HeroBuildsExtraInfo #ControlArea .ExtraInfo .BuildID
{
	border-bottom: 2px solid #ffffff20;
}

.HeroBuildsExtraInfo #ControlArea .ExtraInfo .BuildID:hover
{
	brightness: 1.5;
}

.HeroBuildsExtraInfo #ControlArea .ExtraInfo .CopiedToClipboard
{
	margin-left: 10px;
	font-weight: bold;
	font-size: 12px;
	visibility: collapse;
	wash-color: deadlockGreen;
}

.TextCopied .HeroBuildsExtraInfo #ControlArea .ExtraInfo .CopiedToClipboard
{
	visibility: visible;
}

.HeroBuildsExtraInfo #ControlArea #BuildControls
{
	horizontal-align: right;
	width: 220px;
}

.HeroBuildsExtraInfo #ControlArea #BuildControls .NEWDropdown
{
	background-color: #333;
	border: 2px solid offWhite&30;
	border-radius: 3px;
}

.HeroBuildsExtraInfo #ControlArea #BuildControls .NEWDropdown Label
{
	font-size: 16px;
	font-weight: semi-bold;
	opacity: 0.6;
}

.ButtonItems
{
	flow-children: right;
	horizontal-align: middle;
	vertical-align: middle;
}

.actionItemButton
{
	background-color: offWhite;
	transition-property: background-color;
	transition-duration: 0.3s;
	overflow: squish;
	padding: 5px 10px;
	width: 150px;
	height: 40px;
	max-height: 40px;
	z-index: 10;
	margin: 5px 0px;
	margin-bottom: 10px;
	border-radius: 3px;
	transition-property: background-color, border;
	transition-duration: 0.3s;
	visibility: collapse;
	flow-children: right;
}

.actionItemButton.visibleByDefault
{
	visibility: visible;
}

.actionItemButton Label
{
	vertical-align: center;
	horizontal-align: center;
	font-weight: semi-bold;
	font-size: 18px;
	transition-property: transform, color, brightness;
	transition-duration: 0.3s;
	text-overflow: shrink;
	color: offBlack;
}

.actionItemButton:hover
{
	brightness: 1.3;
}

.actionItemButton:hover .Arrow
{
	transform: translateX(5px);
}

.changeHeroIcon
{
	background-image: url("s2r://panorama/images/icons/hero_grid.vsvg");
	wash-color: offBlack;
	background-position: center;
	margin-right: 5px;
	background-size: contain;
	vertical-align: middle;
	background-repeat: no-repeat;
	width: 20px;
	height: 20px;
}

.actionItemButton.disabled,.disabled .ButtonItems,.disabled Label
{
	opacity: 0.6;
}

.disabled.actionItemButton:hover
{
	opacity: 0.6;
}

.disabled.actionItemButton:hover Label
{
	color: offWhite;
}

.disabled.actionItemButton:hover
{
	brightness: 1;
}

.testingButton:hover
{
	brightness: 1.3;
	background-color: #ffffff30;
}

.HeroBuildNav
{
	visibility: collapse;
	flow-children: down;
	vertical-align: top;
	width: 550px;
	height: fit-children;
	margin-left: 10px;
	margin-top: 80px;
}

.NavContainer
{
	flow-children: down;
	width: 100%;
	padding: 20px;
}

.HeroBuildsTitle
{
	font-size: 34px;
	font-weight: bold;
	horizontal-align: left;
	text-align: center;
	margin-bottom: 5px;
}

#ChooseHeroButton
{
	width: fit-children;
}

.HeroBuildsSubTitle
{
	horizontal-align: left;
	font-weight: bold;
	font-size: 18px;
	text-transform: uppercase;
}

#HeroBuildDescriptionTextEntry
{
	height: 250px;
	width: 600px;
}

#HeroBuildVersion
{
	margin-top: 10px;
}

.HeroBuildsDesc
{
	font-family: sans;
	font-size: 18px;
	font-weight: medium;
	text-align: left;
	margin-top: 8px;
	opacity: 0.5;
	padding-bottom: 10px;
}

#BuildCreatorPanel
{
	padding-top: 10px;
	padding-left: 10px;
	flow-children: right;
}

.HeroBuildCreator
{
	font-family: sans;
	font-size: 18px;
	font-weight: medium;
}

.SharePanel
{
	padding: 5px;
	flow-children: right;
}

#HeroBuildName
{
	margin-left: 2px;
	width: 100%;
	font-size: 18px;
	text-overflow: clip;
	white-space: nowrap;
}

#HeroBuildDescription
{
	margin-left: 2px;
	width: 100%;
	height: 220px;
	font-size: 18px;
	text-overflow: clip;
	white-space: normal;
	overflow: squish scroll;
}

.Checkbox
{
	width: 35px;
	height: 35px;
	horizontal-align: left;
	background-image: url("s2r://panorama/images/getting_started/checklist_task_empty_png.vtex");
	background-size: contain;
	background-repeat: no-repeat;
	background-position: center;
	visibility: visible;
	vertical-align: center;
	wash-color: white;
}

.public_build_checked .Checkbox
{
	background-image: url("s2r://panorama/images/getting_started/checklist_task_complete_png.vtex");
	wash-color: none;
}

#PublicBuildLabel
{
	margin-top: 4px;
	font-weight: bold;
	font-size: 28px;
}

#CreateBuildButton
{
	vertical-align: top;
	horizontal-align: right;
	ignore-parent-flow: true;
	visibility: collapse;
}

#CreateBuildButton
{
	visibility: visible;
}

#BrowseHeroBuildsPanel #HeroBuildDescription
{
	vertical-align: center;
	margin-left: 2px;
	width: 100%;
	height: 260px;
	font-size: 18px;
	text-overflow: clip;
	white-space: normal;
	overflow: squish scroll;
}

#BrowseHeroBuildsPanel
{
	visibility: collapse;
	flow-children: down;
}

.BrowseHeroBuildDescription
{
	border: 1px solid baseBorder;
	width: 352px;
	height: 36px;
	padding: 4px 7px 3px 7px;
	background-color: #00000050;
	font-size: 18px;
	font-family: sans;
	font-weight: normal;
	color: offWhite;
}

#SelectBuildButton
{
	font-weight: bold;
	font-size: 28px;
	color: offWhite;
	background-color: #ffffff30;
	padding: 10px;
	margin-top: 20px;
	horizontal-align: center;
}

#FavoriteBuildContainer,#SelectBuildContainer
{
	z-index: 12;
	horizontal-align: center;
}

.BuildControls
{
	margin-top: 20px;
	vertical-align: bottom;
	horizontal-align: left;
	width: 100%;
	padding: 5px 10px;
	flow-children: right;
}

#BuildOptionButton
{
	flow-children: right;
	background-color: black;
	padding: 3px;
	padding-left: 8px;
	padding-right: 8px;
}

#BuildOptionButton .DropdownArrow
{
	width: 16px;
	height: 16px;
	vertical-align: middle;
	margin: 6px;
	padding: 8px;
	background-image: url("s2r://panorama/images/control_icons/arrow_dropdown_png.vtex");
	background-size: contain;
	background-repeat: no-repeat;
	background-position: center;
	background-img-opacity: 0.7;
	transition-property: opacity, pre-transform-scale2d;
	transition-duration: 0.1s;
}

.ShowBuildControlsContainer #BuildOptionButton .DropdownArrow
{
	transform: rotateZ(-90deg);
}

.HideMods #BuildOptionButton
{
	visibility: collapse;
}

#BuildOptionButton:hover,.ShowBuildControlsContainer #BuildOptionButton
{
	pre-transform-scale2d: 1.05;
	brightness: 1.1;
}

#BuildControlsContainer
{
	width: 220px;
	ignore-parent-flow: true;
	flow-children: down;
	transition-property: opacity,transform;
	transition-duration: 0.1s;
	opacity: 0;
	vertical-align: top;
	horizontal-align: right;
	margin-top: 100px;
	margin-right: 30px;
	background-color: black;
	padding: 10px;
}

.ShowBuildControlsContainer #BuildControlsContainer
{
	opacity: 1;
}

#BuildControlsContainer #AuthorControls
{
	width: 100%;
	flow-children: down;
	horizontal-align: left;
	visibility: collapse;
	vertical-align: center;
}

#BuildControlsContainer TextButton
{
	width: 100%;
	margin: 2px;
}

#BuildControlsContainer TextButton:hover
{
	background-color: lightgrey;
}

.selectedIcon
{
	width: 26px;
	height: 26px;
	wash-color: ritualGreen;
	vertical-align: middle;
	background-image: url("s2r://panorama/images/icons/icon_checkmark.vsvg");
	background-size: contain;
	background-repeat: no-repeat;
	background-position: center;
	margin-right: 10px;
}

#ManageBuildsContainer
{
	flow-children: right;
}

#SelectBuildContainer
{
	visibility: visible;
}

#FavoriteBuildContainer
{
	visibility: collapse;
}

#CopyBuildButton,#ValveBuildButton,#RevertBuildButton
{
	visibility: collapse;
}

.CanEditBuild #CopyBuildButton,.CanCopyBuild #CopyBuildButton
{
	visibility: visible;
}

.CanEditBuild #BuildControlsContainer #AuthorControls
{
	visibility: visible;
}

.CanRevertBuild #BuildControlsContainer #RevertBuildButton
{
	visibility: visible;
}

.CanBeValveBuild #BuildControlsContainer #ValveBuildButton
{
	visibility: visible;
}

.IsFavoriteBuild #SelectBuildContainer
{
	visibility: collapse;
}

.IsFavoriteBuild #FavoriteBuildContainer
{
	visibility: visible;
}

#ExistingBuildSelector
{
	width: 470px;
	padding-bottom: 20px;
}

#HeroBuildSelector
{
	width: 100%;
	height: 480px;
}

.SelectionContainer
{
	flow-children: down;
	horizontal-align: center;
	width: 100%;
	height: 40%;
}

#CustomBuild
{
	visibility: visible;
}

#DefaultBuild
{
	visibility: collapse;
}

.IsDefaultBuild #CustomBuild
{
	visibility: collapse;
}

.IsDefaultBuild #DefaultBuild
{
	visibility: visible;
}

.ModListContainer
{
	flow-children: right;
	visibility: collapse;
}

#ShopModsBuild
{
	margin-top: 10px;
	ui-scale: 63%;
	height: fit-children;
	overflow: clip;
}

#ShopModsBuild #CategoryContainer
{
	overflow: squish;
}

.ModList
{
	width: 205px;
	height: 120px;
	margin: 0px;
}

.ModList CitadelModIcon
{
	width: 30px;
	height: 30px;
}

#mod_universal_locked
{
	width: 110px;
}

#BuildMods
{
	horizontal-align: left;
}

CitadelAbilityOrder
{
	margin-top: 10px;
}

