/* Prettified by Source 2 Viewer - https://valveresourceformat.github.io */

CitadelHeroLogo
{
	flow-children: down;
}

.HeroName
{
	font-size: 160px;
	text-overflow: shrink;
	max-height: 120px;
	max-width: 650px;
	font-weight: bold;
	font-family: block;
	text-transform: uppercase;
	text-align: center;
	horizontal-align: center;
	visibility: collapse;
}

.ShowHeroName .HeroName
{
	visibility: visible;
}

.ShowHeroName.ShowHeroLogo .HeroName
{
	font-size: 55px;
}

#LogoImage
{
	max-width: 600px;
	height: 160px;
	background-size: contain;
	background-position: center;
	background-repeat: no-repeat;
	visibility: collapse;
	wash-color: offWhite;
	horizontal-align: middle;
}

.ShowHeroLogo #LogoImage
{
	visibility: visible;
}

.hero_bookworm :not(.DisablePerHeroAdjustments) #LogoImage
{
	height: 200px;
	margin-bottom: 10px;
}

.hero_drifter :not(.DisablePerHeroAdjustments) #LogoImage
{
	margin-bottom: 10px;
}

.hero_orion :not(.DisablePerHeroAdjustments) #LogoImage
{
	margin-bottom: 0px;
}

.hero_haze :not(.DisablePerHeroAdjustments) #LogoImage
{
	height: 140px;
}

.hero_lash :not(.DisablePerHeroAdjustments) #LogoImage
{
	height: 180px;
}

.hero_mirage :not(.DisablePerHeroAdjustments) #LogoImage
{
	height: 200px;
	margin-bottom: 10px;
}

.hero_synth :not(.DisablePerHeroAdjustments) #LogoImage
{
	height: 250px;
}

.hero_shiv :not(.DisablePerHeroAdjustments) #LogoImage
{
	height: 200px;
}

.hero_vampirebat :not(.DisablePerHeroAdjustments) #LogoImage
{
	height: 200px;
}

.hero_hornet :not(.DisablePerHeroAdjustments) #LogoImage
{
	margin-bottom: 5px;
}

.hero_viper :not(.DisablePerHeroAdjustments) #LogoImage
{
	height: 220px;
	margin-bottom: 5px;
}

.hero_priest :not(.DisablePerHeroAdjustments) #LogoImage
{
	margin-bottom: 20px;
	height: 200px;
}

.hero_fencer :not(.DisablePerHeroAdjustments) #LogoImage
{
	margin-bottom: 10px;
	height: 210px;
}

.hero_werewolf :not(.DisablePerHeroAdjustments) #LogoImage
{
	height: 230px;
}

.Language_english .hero_werewolf :not(.DisablePerHeroAdjustments) #LogoImage
{
	margin-bottom: -30px;
}

.hero_necro :not(.DisablePerHeroAdjustments) #LogoImage
{
	margin-bottom: 20px;
}

.hero_familiar :not(.DisablePerHeroAdjustments) #LogoImage
{
	height: 250px;
}

.hero_unicorn :not(.DisablePerHeroAdjustments) #LogoImage
{
	height: 250px;
}

.hero_deadpack :not(.DisablePerHeroAdjustments) #LogoImage
{
	height: 220px;
}

.hero_ratking :not(.DisablePerHeroAdjustments) #LogoImage
{
	height: 250px;
}

.hero_chessmaster :not(.DisablePerHeroAdjustments) #LogoImage
{
	height: 180px;
	margin-bottom: 20px;
}

.hero_nurse :not(.DisablePerHeroAdjustments) #LogoImage
{
	height: 240px;
	margin-bottom: 20px;
}

.hero_baba :not(.DisablePerHeroAdjustments) #LogoImage
{
	margin-bottom: 15px;
}

.hero_artist :not(.DisablePerHeroAdjustments) #LogoImage
{
	height: 270px;
	margin-left: 40px;
	margin-bottom: -20px;
}

#CitadelPostGameNew #LogoImage
{
	padding: 0px;
	margin: 0px;
}

#CitadelPostGameNew .hero_synth #LogoImage
{
	height: 220px;
}

#CitadelPostGameNew .hero_ghost #LogoImage
{
	padding-top: 0px;
}

#CitadelPostGameNew .hero_priest #LogoImage
{
	padding-right: 68px;
}

.hero_haze #LogoImage
{
	opacity-brush: gradient( linear, 40% 0%, 100% 0%, from( #ffffff ), to( #ffffff30) );
}

