/* Prettified by Source 2 Viewer - https://valveresourceformat.github.io */

HudDataFeed
{
	width: 100%;
	height: 100%;
}

HudDataFeed .AspectRatio21x9_clampwidth
{
	max-width: 2000px;
	horizontal-align: center;
}

.GameStatePostGame HudDataFeed
{
	z-index: 1500;
}

#EventFeed
{
	vertical-align: top;
	horizontal-align: left;
	width: 1000px;
	margin-top: 200px;
	flow-children: down;
}

#ObjectivesFeed
{
	width: 100%;
	height: 100%;
}

.data_entry
{
	font-size: 21px;
	line-height: 24px;
	width: 100%;
	text-align: left;
	padding-left: 8px;
	color: gold;
	background-color: #00000055;
	opacity: 0;
	transition-property: opacity, transform, height;
	transition-duration: 0.2s;
	transition-timing-function: ease-in;
	transition-delay: 0s;
}

.data_entry.fade_in
{
	opacity: 1;
	transition-property: opacity, transform, height, visibility;
	transition-duration: 1s;
	transition-timing-function: ease-out;
	transition-delay: 0s;
}

.data_entry.fade_in.fade_out
{
	opacity: 0;
}

#hero_image
{
	width: 30px;
	height: 30px;
}

.FlowRight
{
	flow-children: right;
}

.FlowRight #entry
{
	vertical-align: center;
	margin-left: 10px;
	margin-top: 5px;
	color: #FFFFFF;
}

