/* Prettified by Source 2 Viewer - https://valveresourceformat.github.io */

.ping_panel
{
	width: 200px;
	height: 200px;
	opacity: 1;
}

#circle
{
	width: 50px;
	height: 50px;
	border: 10px solid rgb(0, 255, 191);
	border-radius: 50%;
	opacity: 0;
	transition-property: width, height, border;
	transition-duration: 0.3s;
	vertical-align: center;
	horizontal-align: center;
}

.location_set #circle
{
	opacity: 0.5;
	border: 3px solid rgb(0, 255, 191);
	width: 15px;
	height: 15px;
}

#center
{
	opacity: 0;
	width: 15px;
	height: 15px;
	border: 3px solid rgb(0, 255, 191);
	border-radius: 50%;
	vertical-align: center;
	horizontal-align: center;
}

.location_set #center
{
	opacity: 0.5;
}

.BaseUnderAttack #center,.BaseUnderAttack #circle
{
	border: 3px solid red;
}

.EntityPing #center,.EntityPing #circle
{
	border: 3px solid #0eff42;
}

.EnemyPing #center,.EnemyPing #circle
{
	border: 3px solid red;
}

.NeutralPing #center,.NeutralPing #circle
{
	border: 3px solid deadlockGreen;
}

.location_set #circle
{
	animation-name: player-ping-pulse;
	animation-duration: 2s;
	animation-timing-function: linear;
	animation-iteration-count: 1;
}

@keyframes 'player-ping-pulse'
{
	0%
	{
		pre-transform-scale2d: 1.0;
	}
	
	50%
	{
		pre-transform-scale2d: 4.0;
	}
	
	100%
	{
		pre-transform-scale2d: 0.1;
	}
	
}

@keyframes 'hero-ping-pulse'
{
	0%
	{
		pre-transform-scale2d: 1.0;
	}
	
	50%
	{
		pre-transform-scale2d: 4.0;
	}
	
	100%
	{
		pre-transform-scale2d: 0.1;
	}
	
}

#hero_img
{
	height: 15px;
	width: 15px;
	vertical-align: center;
	horizontal-align: center;
}

.location_set #hero_img
{
	animation-name: hero-ping-pulse;
	animation-duration: 3s;
	animation-timing-function: linear;
	animation-iteration-count: 1;
}

.location_set.ObjectiveKilled #circle
{
	animation-name: hero-ping-pulse;
	animation-duration: 3s;
	animation-timing-function: linear;
	animation-iteration-count: 1;
	background-size: 100% 100%;
	background-position: 50% 50%;
	background-image: url("s2r://panorama/images/minimap/boss_health_dead_psd.vtex");
	wash-color: rgb(220, 76, 47) ;
	border: 0px solid rgb(220, 76, 47);
}

.location_set.ObjectiveKilled #center
{
	border: 3px solid rgb(220, 76, 47);
}

@keyframes 'koth-ping-pulse'
{
	0%
	{
		pre-transform-scale2d: 1.0;
	}
	
	33%
	{
		border: 3px solid rgb(0, 255, 191);
		pre-transform-scale2d: 2.0;
	}
	
	66%
	{
		border: 1px solid rgb(0, 255, 191);
		pre-transform-scale2d: 4.0;
	}
	
	100%
	{
		pre-transform-scale2d: 2.0;
	}
	
}

.location_set.KothSpawn #circle
{
	animation-name: koth-ping-pulse;
	animation-duration: 6s;
	animation-timing-function: linear;
	animation-iteration-count: 1;
}

@define pingAnimationDuration: 4.5;
@define PingWashAttackColor: #ff5353ff;
@define PingWashGoingColor: #749bffff;
@define PingWashDefendColor: #9ef29dff;
@define PingWashWatchColor: #ffb803ff;
@define PingWashHeroAttackColor: #ff2d2dff;
@define PingWashHeroGoingColor: #4fd8ffff;
@define PingWashHeroDefendColor: #0eff42ff;
@define PingWashHeroWatchColor: #ffd34dff;
.ping_option
{
	width: 100%;
	height: 100%;
}

#option_icon
{
	width: 18px;
	height: 18px;
	vertical-align: center;
	horizontal-align: center;
	opacity: 0;
	background-color: black;
	border: 2px solid #ffffff;
	border-radius: 50px;
}

.HasOptionIcon #center
{
	opacity: 0;
}

.location_set #option_icon
{
	animation-name: ping-option-pop;
	animation-duration: 3s;
	animation-timing-function: ease-out;
	animation-iteration-count: infinite;
	animation-fill-mode: forwards;
}

@keyframes 'ping-option-pop'
{
	0%
	{
		opacity: 0;
		pre-transform-scale2d: 0.6;
	}
	
	10%
	{
		opacity: 1;
		pre-transform-scale2d: 1.15;
	}
	
	20%
	{
		opacity: 1;
		pre-transform-scale2d: 1.0;
	}
	
	80%
	{
		opacity: 1;
		pre-transform-scale2d: 1.0;
	}
	
	100%
	{
		opacity: 0;
		pre-transform-scale2d: 1.0;
	}
	
}

.PingWashAttack #center,.PingWashAttack #circle
{
	border: 3px solid PingWashAttackColor;
}

.PingWashGoing #center,.PingWashGoing #circle
{
	border: 3px solid PingWashGoingColor;
}

.PingWashDefend #center,.PingWashDefend #circle
{
	border: 3px solid PingWashDefendColor;
}

.PingWashWatch #center,.PingWashWatch #circle
{
	border: 3px solid PingWashWatchColor;
}

.PingWashAttack #option_icon
{
	wash-color: PingWashAttackColor;
}

.PingWashGoing #option_icon
{
	wash-color: PingWashGoingColor;
}

.PingWashDefend #option_icon
{
	wash-color: PingWashDefendColor;
}

.PingWashWatch #option_icon
{
	wash-color: PingWashWatchColor;
}

.EntityPing.PingWashAttack #center,.EntityPing.PingWashAttack #circle,.EnemyPing.PingWashAttack #center,.EnemyPing.PingWashAttack #circle,.NeutralPing.PingWashAttack #center,.NeutralPing.PingWashAttack #circle
{
	border: 3px solid PingWashHeroAttackColor;
}

.EntityPing.PingWashGoing #center,.EntityPing.PingWashGoing #circle,.EnemyPing.PingWashGoing #center,.EnemyPing.PingWashGoing #circle,.NeutralPing.PingWashGoing #center,.NeutralPing.PingWashGoing #circle
{
	border: 3px solid PingWashHeroGoingColor;
}

.EntityPing.PingWashDefend #center,.EntityPing.PingWashDefend #circle,.EnemyPing.PingWashDefend #center,.EnemyPing.PingWashDefend #circle,.NeutralPing.PingWashDefend #center,.NeutralPing.PingWashDefend #circle
{
	border: 3px solid PingWashHeroDefendColor;
}

.EntityPing.PingWashWatch #center,.EntityPing.PingWashWatch #circle,.EnemyPing.PingWashWatch #center,.EnemyPing.PingWashWatch #circle,.NeutralPing.PingWashWatch #center,.NeutralPing.PingWashWatch #circle
{
	border: 3px solid PingWashHeroWatchColor;
}

.EntityPing.PingWashAttack #option_icon,.EnemyPing.PingWashAttack #option_icon,.NeutralPing.PingWashAttack #option_icon
{
	wash-color: PingWashHeroAttackColor;
}

.EntityPing.PingWashGoing #option_icon,.EnemyPing.PingWashGoing #option_icon,.NeutralPing.PingWashGoing #option_icon
{
	wash-color: PingWashHeroGoingColor;
}

.EntityPing.PingWashDefend #option_icon,.EnemyPing.PingWashDefend #option_icon,.NeutralPing.PingWashDefend #option_icon
{
	wash-color: PingWashHeroDefendColor;
}

.EntityPing.PingWashWatch #option_icon,.EnemyPing.PingWashWatch #option_icon,.NeutralPing.PingWashWatch #option_icon
{
	wash-color: PingWashHeroWatchColor;
}

@define MinimapPingAttackColor: #ff5353ff;
@define MinimapPingGoingColor: #749bffff;
@define MinimapPingDefendColor: #9ef29dff;
@define MinimapPingWatchColor: #ffb803ff;
.ping_visual,.ping_anim
{
	width: 100%;
	height: 100%;
}

#option_icon
{
	width: 22px;
	height: 22px;
	vertical-align: center;
	horizontal-align: center;
	opacity: 0;
}

.location_set #option_icon
{
	animation-name: ping-option-pop;
	animation-duration: 3s;
	animation-timing-function: ease-out;
	animation-iteration-count: infinite;
	animation-fill-mode: forwards;
}

@keyframes 'ping-option-pop'
{
	0%
	{
		opacity: 0;
		pre-transform-scale2d: 0.6;
	}
	
	10%
	{
		opacity: 1;
		pre-transform-scale2d: 1.15;
	}
	
	20%
	{
		opacity: 1;
		pre-transform-scale2d: 1.0;
	}
	
	80%
	{
		opacity: 1;
		pre-transform-scale2d: 1.0;
	}
	
	100%
	{
		opacity: 0;
		pre-transform-scale2d: 1.0;
	}
	
}

.pingAnimAttack #center,.pingAnimAttack #circle
{
	border: 3px solid MinimapPingAttackColor;
}

.pingAnimAttack #option_icon
{
	wash-color: MinimapPingAttackColor;
}

.pingAnimGoing #center,.pingAnimGoing #circle
{
	border: 3px solid MinimapPingGoingColor;
}

.pingAnimGoing #option_icon
{
	wash-color: MinimapPingGoingColor;
}

.pingAnimDefend #center,.pingAnimDefend #circle
{
	border: 3px solid MinimapPingDefendColor;
}

.pingAnimDefend #option_icon
{
	wash-color: MinimapPingDefendColor;
}

.pingAnimWatch #center,.pingAnimWatch #circle
{
	border: 3px solid MinimapPingWatchColor;
}

.pingAnimWatch #option_icon
{
	wash-color: MinimapPingWatchColor;
}

