/* Prettified by Source 2 Viewer - https://valveresourceformat.github.io */

.WinStreakBonusContents
{
	flow-children: down;
	width: 340px;
}

.WinStreakBonusContents .Title
{
	font-size: 18px;
	color: offWhite&44;
	margin-top: 12px;
	font-weight: bold;
}

.WinStreakBonusContents .Desc
{
	color: offWhite&44;
	font-size: 16x;
}

.TierRows
{
	flow-children: down;
	width: 100%;
	margin-top: 12px;
	margin-bottom: 12px;
	background-color: #0006;
	padding: 12px;
	border-radius: 5px;
}

.TierRow
{
	flow-children: right;
	color: #999;
}

.TierRow .TierWins,.TierRow .TierWinsMax
{
	font-size: 18px;
	vertical-align: middle;
	text-align: right;
	width: 120px;
	margin-right: 24px;
	color: offWhite&44;
	font-family: oracle;
	font-weight: bold;
}

.TierRow .TierWinsMax
{
	visibility: collapse;
}

.TierRow.MaxTier .TierWins
{
	visibility: collapse;
}

.TierRow.MaxTier .TierWinsMax
{
	visibility: visible;
}

.TierRow .TierPoints
{
	font-size: 20px;
	font-weight: bold;
	vertical-align: middle;
	color: #a1cdcd;
	font-family: oracle;
}

.TierRow.Earned Label
{
	color: #a1cdcd66;
}

.TierRow.NextTier Label
{
	color: #19eccacc;
}

