/* Prettified by Source 2 Viewer - https://valveresourceformat.github.io */

#KeybindMapTooltipPaper
{
	ignore-parent-flow: true;
	width: 100%;
	height: 100%;
	background-image: url("s2r://panorama/images/textures/paper_tile_1k_01_png.vtex");
	opacity-mask: url("s2r://panorama/images/masks/rough_edge_02_png.vtex");
	wash-color: brandGreen&88;
	brightness: 3;
}

#KeybindMapTooltipBody
{
	flow-children: down;
	min-width: 260px;
	max-width: 520px;
	padding: 16px 20px;
}

#KeyGlyph
{
	horizontal-align: left;
	margin-bottom: 4px;
}

#OtherKeysTitle
{
	visibility: collapse;
	margin-bottom: 4px;
	font-size: 18px;
	font-weight: bold;
	text-transform: uppercase;
	color: #FFEFD7;
}

.OtherKeys #OtherKeysTitle
{
	visibility: visible;
}

.OtherKeys #KeyGlyph,.Legend #KeyGlyph
{
	visibility: collapse;
}

.Legend .KeybindMapTooltipGroup
{
	margin-top: 4px;
}

.KeybindMapTooltipRow.LegendGapBefore
{
	margin-top: 22px;
}

.KeybindMapTooltipCommand.BindKeyLegendCritical
{
	color: warningRed;
	font-weight: bold;
}

.KeybindMapTooltipCommand.BindKeyLegendLostDefault
{
	color: darkorange;
}

.KeybindMapTooltipCommand.BindKeyLegendShipsUnbound
{
	color: #C6E287;
}

.KeybindMapTooltipCommand.BindKeyLegendNormal
{
	color: #FFEFD7aa;
}

#KeybindMapTooltipCaption
{
	visibility: collapse;
	margin-top: 6px;
	font-size: 16px;
	color: #FFEFD7;
}

.HasCaption #KeybindMapTooltipCaption
{
	visibility: visible;
}

.Legend #KeybindMapTooltipCaption
{
	margin-top: 0px;
	font-weight: bold;
}

#KeybindMapTooltipGroups
{
	flow-children: down;
}

.KeybindMapTooltipGroup
{
	flow-children: down;
	margin-top: 10px;
}

.KeybindMapTooltipGroupTitle
{
	font-size: 14px;
	font-weight: bold;
	text-transform: uppercase;
	letter-spacing: 1px;
	color: brandGreen;
	margin-bottom: 2px;
}

.KeybindMapTooltipRow
{
	flow-children: right;
	margin-top: 4px;
}

.KeybindMapTooltipScopeIcon
{
	width: 22px;
	height: 22px;
	vertical-align: center;
	margin-right: 8px;
}

.KeybindMapTooltipScopeIcon.DefaultHeroIcon
{
	wash-color: offWhite;
}

.KeybindMapTooltipCommand
{
	vertical-align: center;
	font-size: 18px;
	color: #FFEFD7;
}

CitadelKeyboardGlyph.KeybindMapTooltipChord
{
	vertical-align: center;
	horizontal-align: left;
	margin-left: 10px;
}

.KeybindMapTooltipConjunction
{
	vertical-align: center;
	margin-left: 10px;
	font-size: 13px;
	font-weight: bold;
	text-transform: uppercase;
	color: #FFEFD7aa;
}

.KeybindMapTooltipSetting
{
	vertical-align: center;
	max-width: 240px;
	margin-left: 10px;
	font-size: 16px;
	color: #FFEFD7aa;
}

