/* Prettified by Source 2 Viewer - https://valveresourceformat.github.io */

.BuildDetailsTooltip
{
	flow-children: down;
}

.BuildDetailsTooltip CitadelBuildDetails
{
	width: 600px;
	height: fit-children;
}

