/* Prettified by Source 2 Viewer - https://valveresourceformat.github.io */

.baba_brew_reticle
{
	horizontal-align: center;
	vertical-align: center;
	transform: translateX( 110px );
	visibility: collapse;
}

.baba_brew_reticle.active
{
	visibility: visible;
	visibility: collapse;
}

#brew_indicator
{
	width: fit-children;
	height: fit-children;
	padding: 3px 10px 3px 8px;
	border-radius: 4px;
	background-color: #000000a0;
	border-left: 3px solid #ffffff40;
	box-shadow: #00000080 0px 0px 6px 0px;
}

#brew_indicator.brew_barrier
{
	border-left: 3px solid #466496;
}

#brew_indicator.brew_silence
{
	border-left: 3px solid #f476ff;
}

#brew_indicator.brew_fire
{
	border-left: 3px solid #dc3232;
}

.brew_label
{
	font-size: 18px;
	font-weight: bold;
	text-transform: uppercase;
	text-shadow: 0px 0px 4px 2.0 #000000cc;
	visibility: collapse;
}

#label_brew_none
{
	color: #ffffffaa;
}

.brew_none #label_brew_none,.brew_barrier #label_brew_barrier,.brew_silence #label_brew_silence,.brew_fire #label_brew_fire
{
	visibility: visible;
}

