/* Prettified by Source 2 Viewer - https://valveresourceformat.github.io */

CitadelPostGameTeam
{
	width: 100%;
	height: 100%;
}

#HeroScenePanelBacker
{
	width: 100%;
	height: 100%;
	max-width: 1800px;
	horizontal-align: center;
	opacity-mask: url("s2r://panorama/images/post_game/bg_team_mask_psd.vtex");
	opacity-mask-scale: 100% 100%;
	blur: gaussian(2px);
	pre-transform-scale2d: 1.1;
}

.AspectRatio21x9 #HeroScenePanelBacker
{
	margin-right: 0px;
}

#Team1 #HeroScenePanelBacker
{
	wash-color: team1Color;
	opacity: .08;
}

#Team2 #HeroScenePanelBacker
{
	wash-color: team2ColorAlt;
	opacity: .1;
}

CitadelPostGameTeam.IsWinningTeam .DefeatLabel,.VictoryLabel
{
	visibility: collapse;
}

CitadelPostGameTeam.IsWinningTeam .VictoryLabel,.DefeatLabel
{
	visibility: visible;
}

.TeamPlayerContainer
{
	flow-children: right;
	width: fit-children;
	horizontal-align: center;
	vertical-align: center;
	ui-scale: 94%;
	transform: translateY(-36px);
	overflow: noclip;
}

.TeamNameContainer
{
	vertical-align: top;
	horizontal-align: center;
	transform: translateY( 40px );
}

.TeamName
{
	width: 500px;
	height: 120px;
	background-size: contain;
	background-repeat: no-repeat;
	background-position: center;
	opacity: 0.8;
	pre-transform-scale2d: 0.8;
}

#Team1 .TeamName
{
	background-image: url("s2r://panorama/images/hud/objectives/team1_patron_logo_psd.vtex");
	margin-top: -16px;
	wash-color: team1Color;
}

#Team2 .TeamName
{
	background-image: url("s2r://panorama/images/hud/objectives/team2_patron_logo_psd.vtex");
	margin-top: -8px;
	wash-color: team2Color;
}

.VictoryLabel,.DefeatLabel
{
	font-family: oracle;
	font-weight: bold;
	font-size: 36px;
	line-height: 72px;
	pre-transform-rotate2d: -3deg;
	margin-top: 44px;
	horizontal-align: center;
	padding: 8px;
	animation-name: AwardReveal;
	animation-duration: .24s;
	animation-timing-function: ease-in-out;
}

.DefeatLabel
{
	opacity-mask: url("s2r://panorama/images/main_menu/text_speckle_mask_main_psd.vtex") 1;
	opacity-mask-scale: 180% 180%;
	text-shadow: 0px 0px 40px #000000;
}

#Team1 .DefeatLabel
{
	color: copperFlat&22;
}

#Team2 .DefeatLabel
{
	color: steelFlat&22;
}

#Team1 .VictoryLabel
{
	text-shadow: 0px 0px 10px team1Color;
}

#Team2 .VictoryLabel
{
	text-shadow: 0px 0px 10px team2Color;
}

.Player
{
	width: 284px;
	height: 900px;
	ui-scale: 90%;
	margin-right: -4px;
	margin-left: -4px;
	overflow: noclip;
	background-repeat: no-repeat;
}

.Player .PlayerCard
{
	width: 100%;
	height: 100%;
	transition-property: transform;
	transition-duration: 0.25s;
}

.Player.CommendHover .PlayerCard
{
	transform: translateY(-10px);
}

.Player.CommendTrigger .PlayerCard
{
	animation-name: CommendTrigger;
	animation-duration: .24s;
	animation-timing-function: ease-in-out;
}

.Player .HeroScenePanelBackground
{
	width: 100%;
	height: 800px;
	background-color: offBlack;
	background-position: center;
	background-image: url("s2r://panorama/images/post_game/card_hero_back_06_png.vtex");
	background-size: cover;
}

.Player CitadelHeroScenePanelNew
{
	width: 100%;
	height: 800px;
	opacity-mask-scale: 100% 100%;
	opacity-mask-position: 0px 0px;
	saturation: 0.75;
	opacity: 0.0;
	transition-property: opacity;
	transition-duration: 0.5s;
}

.Player CitadelHeroScenePanelNew.SceneLoaded
{
	opacity: 1.0;
}

.Player .HeroScenePanelTint
{
	width: 100%;
	height: 800px;
	background-color: gradient( linear, 0% 0%, 0% 100%, from( #00000000 ), color-stop( 0.76, #00000033 ), color-stop( 0.84, #000000cc ), to( #000000 ) );
	opacity-mask-scale: 100% 100%;
	background-position: center;
	opacity-mask-position: 0px 0px;
}

.Player .CardBottom
{
	vertical-align: bottom;
	width: 100%;
	margin-bottom: 188px;
	flow-children: down;
}

.Player .CardBottom #HeroLogo
{
	visibility: collapse;
	ui-scale: 32%;
	margin-bottom: 12px;
	margin-top: 8px;
	horizontal-align: center;
	vertical-align: bottom;
	pre-transform-rotate2d: -3deg;
	opacity-mask: url("s2r://panorama/images/post_game/hero_logo_mask_psd.vtex") 0.5;
	opacity-mask-scale: 100% 100%;
}

.Player .CardBottom #AwardsContainer
{
	width: 100%;
	flow-children: up;
	vertical-align: bottom;
	margin: 0px 8px 0px 28px;
	overflow: noclip;
}

.Player.MVP_Rank1 CitadelHeroScenePanelNew,.Player.MVP_Rank2 CitadelHeroScenePanelNew,.Player.MVP_Rank3 CitadelHeroScenePanelNew,.IsLocalPlayer CitadelHeroScenePanelNew
{
	saturation: 1;
}

.Player .HeroMaskPanel
{
	width: 100%;
	height: 800px;
}

.Player.Left3 .HeroMaskPanel
{
	opacity-mask: url("s2r://panorama/images/post_game/card_hero_mask_01_png.vtex");
}

.Player.Left2 .HeroMaskPanel
{
	opacity-mask: url("s2r://panorama/images/post_game/card_hero_mask_02_png.vtex");
}

.Player.Left1 .HeroMaskPanel
{
	opacity-mask: url("s2r://panorama/images/post_game/card_hero_mask_03_png.vtex");
}

.Player.Right1 .HeroMaskPanel
{
	opacity-mask: url("s2r://panorama/images/post_game/card_hero_mask_04_png.vtex");
}

.Player.Right2 .HeroMaskPanel
{
	opacity-mask: url("s2r://panorama/images/post_game/card_hero_mask_05_png.vtex");
}

.Player.Right3 .HeroMaskPanel
{
	opacity-mask: url("s2r://panorama/images/post_game/card_hero_mask_06_png.vtex");
}

.PlayerBorder
{
	width: 100%;
	height: 800px;
	background-img-opacity: 0.6;
	background-size: cover;
	background-repeat: no-repeat;
	wash-color: #302f2e;
}

#Team1 .Player.IsLocalPlayer .PlayerBorder
{
	wash-color: team1Color&33;
	img-shadow: 0px 0px 20px team1Color&22;
}

#Team2 .Player.IsLocalPlayer .PlayerBorder
{
	wash-color: team2Color&33;
	img-shadow: 0px 0px 20px team2Color&22;
}

.Player.Left3 .PlayerBorder
{
	background-image: url("s2r://panorama/images/post_game/card_back_01.vsvg");
}

.Player.Left2 .PlayerBorder
{
	background-image: url("s2r://panorama/images/post_game/card_back_02.vsvg");
}

.Player.Left1 .PlayerBorder
{
	background-image: url("s2r://panorama/images/post_game/card_back_03.vsvg");
}

.Player.Right1 .PlayerBorder
{
	background-image: url("s2r://panorama/images/post_game/card_back_04.vsvg");
}

.Player.Right2 .PlayerBorder
{
	background-image: url("s2r://panorama/images/post_game/card_back_05.vsvg");
}

.Player.Right3 .PlayerBorder
{
	background-image: url("s2r://panorama/images/post_game/card_back_06.vsvg");
}

.Player.IsLocalPlayer .PlayerBorder
{
	opacity-mask: url("s2r://panorama/images/post_game/hero_logo_mask_psd.vtex") 0.4;
	opacity-mask-scale: 100% 100%;
}

.Player.IsLocalPlayer .PlayerCard
{
	animation-name: LightPulse;
	animation-duration: 1.7s;
	animation-iteration-count: infinite;
	animation-timing-function: ease-in-out;
}

.Player.MVP_Rank1 .PlayerBorder
{
	wash-color: goldenLight;
	opacity-mask: url("s2r://panorama/images/post_game/hero_logo_mask_psd.vtex");
	opacity-mask-scale: 100% 100%;
	brightness: 2.3;
}

.Player.MVP_Rank2 .PlayerBorder,.Player.MVP_Rank3 .PlayerBorder
{
	wash-color: goldenLight;
	opacity-mask: url("s2r://panorama/images/post_game/hero_logo_mask_psd.vtex");
	opacity-mask-scale: 100% 100%;
	brightness: 0.5;
}

.Player.MVP_Rank1 .PlayerCard,.Player.MVP_Rank2 .PlayerCard,.Player.MVP_Rank3 .PlayerCard
{
	pre-transform-scale2d: 1.015;
}

.MVPContainer
{
	horizontal-align: center;
	vertical-align: top;
	animation-name: AwardReveal;
	animation-duration: .24s;
	animation-timing-function: ease-in-out;
	margin-left: -20px;
	margin-top: 48px;
}

.MVPContainer .MVP,.MVPContainer .MVP_HonorableMention
{
	font-size: 24px;
	font-family: oracle;
	color: goldenLightShine;
	text-shadow: 0px 0px 0px 12 black;
	padding: 12px 0px 0px 0px;
	letter-spacing: 2px;
	vertical-align: center;
	text-overflow: shrink;
	font-weight: bold;
}

.MVPContainer .MVP
{
	visibility: collapse;
	text-transform: uppercase;
	margin-top: 0px;
	font-size: 64px;
	pre-transform-rotate2d: -3deg;
	padding-left: 80px;
	animation-duration: 1.5s;
}

.Player.MVP_Rank1 .MVPContainer .MVP
{
	visibility: visible;
}

.MVPContainer .MVP_HonorableMention
{
	visibility: collapse;
	animation-duration: 1.7s;
	pre-transform-rotate2d: -2deg;
	padding-left: 68px;
	color: #927446;
}

.Player.MVP_Rank2 .MVPContainer .MVP_HonorableMention,.Player.MVP_Rank3 .MVPContainer .MVP_HonorableMention
{
	visibility: visible;
}

.MVPContainer .MVPTrophy
{
	background-image: url("s2r://panorama/images/post_game/mvp_trophy.vsvg");
	background-size: contain;
	background-repeat: no-repeat;
	background-position: left center;
	opacity: 1;
	margin-bottom: -8px;
	width: 120px;
	height: 160px;
	img-shadow: 0px 0px 4px #00000088;
	horizontal-align: left;
	vertical-align: center;
	ui-scale: 70%;
}

.MVPContainer .KeyPlayerTrophy
{
	background-image: url("s2r://panorama/images/post_game/key_player_trophy.vsvg");
	background-size: contain;
	background-repeat: no-repeat;
	background-position: center;
	opacity: 1;
	width: 120px;
	height: 160px;
	img-shadow: 0px 0px 4px #00000088;
	horizontal-align: left;
	vertical-align: center;
	ui-scale: 70%;
}

.Player.Left3 .MVPContainer
{
	margin-top: 0px;
}

.Player.Left2 .MVPContainer
{
	margin-top: 16px;
}

.Player.Right2 .MVPContainer
{
	margin-top: 16px;
}

.Player.Right3 .MVPContainer
{
	margin-top: 0px;
}

#LocalPlayerIdentifier
{
	wash-color: offWhite;
	background-image: url("s2r://panorama/images/icons/caret_up.vsvg");
	background-size: contain;
	width: fit-children;
	height: fit-children;
	background-size: 16px;
	background-repeat: no-repeat;
	background-position: center top;
	padding-top: 10px;
	vertical-align: bottom;
	visibility: collapse;
}

#LocalPlayerIdentifier Label
{
	font-family: block;
	text-transform: lowercase;
	color: white;
	text-align: center;
	font-size: 22px;
	padding: 0px 8px;
}

#Team1 #LocalPlayerIdentifier
{
	wash-color: team1Color;
	text-shadow: 0px 0px 10px team1Color;
}

#Team2 #LocalPlayerIdentifier
{
	wash-color: team2Color;
	text-shadow: 0px 0px 10px team2Color;
}

.Player.IsLocalPlayer #LocalPlayerIdentifier
{
	visibility: visible;
}

#CommendPlayerButton
{
	vertical-align: bottom;
	tooltip-position: bottom;
	background-color: offWhite&05;
	margin-left: 28px;
}

#CommendPlayerButton:active
{
	sound: "UI.CommendConfirmation";
}

#PlayerName,#PlayerName Label
{
	width: 100%;
	text-align: center;
	vertical-align: bottom;
	horizontal-align: center;
	font-family: oracle;
	font-size: 24px;
	margin-bottom: 28px;
	max-width: 240px;
	text-overflow: shrink;
	height: 60px;
}

#Team1 .Player.IsLocalPlayer #PlayerName Label
{
	text-shadow: 0px 0px 10px team1Color;
}

#Team2 .Player.IsLocalPlayer #PlayerName Label
{
	text-shadow: 0px 0px 10px team2Color;
}

.PlayerActionContainer
{
	width: fit-children;
	flow-children: right;
	horizontal-align: center;
	vertical-align: bottom;
}

#ShowPlayerContextMenuButton
{
	width: 24px;
	height: 24px;
	vertical-align: center;
	margin-left: 4px;
	background-image: url("s2r://panorama/images/icons/icon_chevron_down.vsvg");
	background-size: contain;
	wash-color: offWhite;
	opacity: 0.08;
	context-menu-position: bottom;
	img-shadow: 1px 1px 12px #00000033;
	transition-property: pre-transform-scale2d;
	transition-duration: 0.08s;
	transition-timing-function: ease-in-out;
	pre-transform-scale2d: 0.9;
}

#ShowPlayerContextMenuButton:hover
{
	pre-transform-scale2d: 1;
}

#HeroBadgeIcon.PostGame
{
	vertical-align: bottom;
	horizontal-align: center;
	margin-bottom: 110px;
	opacity: 1;
}

.Left2 #HeroBadgeIcon.PostGame,.Right2 #HeroBadgeIcon.PostGame
{
	margin-bottom: 115px;
}

.Left1 #HeroBadgeIcon.PostGame,.Right1 #HeroBadgeIcon.PostGame
{
	margin-bottom: 125px;
}

.HeroNameContainer
{
	flow-children:right;
	padding: 3px;
	horizontal-align: center;
	vertical-align: bottom;
	margin: 0px 0px 88px 0px;
}

.HeroNameContainer .HeroName
{
	horizontal-align: center;
	text-align: center;
	font-size: 20px;
	font-family: oracle;
	color: offWhite&10;
	font-weight: light;
	vertical-align: center;
}

@keyframes 'AwardReveal'
{
	0%
	{
		opacity: 0;
		pre-transform-scale2d: 0.2;
		pre-transform-rotate2d: -10deg;
	}
	
	80%
	{
		pre-transform-scale2d: 1.1;
		pre-transform-rotate2d: 2deg;
	}
	
	100%
	{
		opacity: 1;
		pre-transform-scale2d: 1;
		pre-transform-rotate2d: -2.2deg;
	}
	
}

@keyframes 'LightPulse'
{
	0%
	{
		pre-transform-scale2d: 1.01;
	}
	
	50%
	{
		pre-transform-scale2d: 1;
	}
	
	100%
	{
		pre-transform-scale2d: 1.01;
	}
	
}

@keyframes 'CommendTrigger'
{
	0%
	{
		pre-transform-rotate2d: -2deg;
	}
	
	50%
	{
		pre-transform-rotate2d: 2deg;
	}
	
	100%
	{
		pre-transform-rotate2d: -2deg;
	}
	
}

#CitadelPostGameNew:not(.CanCommendPlayers) #CommendPlayerButton
{
	visibility: collapse;
}

.Player.CommendedPlayer #CommendPlayerButton,.Player.IsLocalPlayer #CommendPlayerButton
{
	visibility: collapse;
}

#CitadelPostGameNew:not(.CanCommendPlayers) #ShowPlayerContextMenuButton
{
	visibility: collapse;
}

.Player.CommendedPlayer #CommendPlayerButton,.Player.IsLocalPlayer #ShowPlayerContextMenuButton
{
	visibility: collapse;
}

.Player.CommendedPlayer .GotCommendedIcon
{
	width: 48px;
	height: 48px;
	background-image: url("s2r://panorama/images/icons/icon_thumbsup.vsvg");
	background-repeat: no-repeat;
	background-position: center;
	background-size: 50% 50%;
	horizontal-align: center;
	vertical-align: center;
	opacity: 0.2;
	visibility: visible;
	margin-right: -12px;
	animation-name: CommendPulse;
	animation-duration: 1.3s;
	animation-iteration-count: infinite;
}

@keyframes 'CommendPulse'
{
	0%
	{
		pre-transform-scale2d: 0.85;
		opacity: 0.4;
	}
	
	50%
	{
		pre-transform-scale2d: 1;
		opacity: 0.9;
	}
	
	100%
	{
		pre-transform-scale2d: 0.85;
		opacity: 0.4;
	}
	
}

#Team1 .GotCommendedIcon
{
	wash-color: soulColor;
	img-shadow: 0px 0px 6px #000000cc;
}

#Team2 .GotCommendedIcon
{
	wash-color: soulColor;
	img-shadow: 0px 0px 6px #000000cc;
}

.Player .GotCommendedIcon
{
	visibility: collapse;
}

.MainBranch #CommendFX
{
	width: 600px;
	height: 1200px;
	z-index: 0;
	opacity-mask: url("s2r://panorama/images/post_game/card_fx_mask_psd.vtex") 1;
	opacity-mask-scale: 180% 100%;
	opacity: 0;
	vertical-align: center;
	horizontal-align: center;
	transition-property: opacity;
	transition-duration: 0.3s;
	transition-timing-function: ease-in-out;
	overflow: noclip;
}

.MainBranch .Player.CommendedPlayer #CommendFX
{
	opacity: 1;
}

