/* Prettified by Source 2 Viewer - https://valveresourceformat.github.io */

.LocalPlayerBackground
{
	background-color: gradient( radial, 50% 50%, -5% -5%, 60% 60%, from( #00000000), to( #000000 ) );
	width: 100%;
	height: 100%;
}

.HeroLevelProgressContainer
{
	width: 100%;
	height: 100%;
	flow-children: none;
}

#NextHeroBadgeIcon
{
	opacity: 1;
	horizontal-align: right;
	vertical-align: center;
	margin-right: 70px;
	margin-bottom: 120px;
	ui-scale: 150%;
	transition-property: transform;
	transition-duration: 0.2s;
	transition-timing-function: ease-in-out;
}

#NextHeroBadgeIcon.LevelUp
{
	transform: scaleX(1.2) scaleY(1.2);
}

.ProgressBarContainer
{
	vertical-align: center;
	flow-children: right;
}

.ProgressBarContainer .PreProgressBar,.ProgressBarContainer .PostProgressBar
{
	height: 100%;
	background-color: offWhite;
	background-color: gradient( linear, 0% 00%, 100% 100%, from( #33374C ), to( #B2BAE3 ) );
	width: 1000px;
	margin-right: 2px;
}

.ProgressBarContainer .PostProgressBar
{
	width: 200px;
	opacity: 0.5;
	margin-left: 2px;
	background-color: #393C47;
}

.ProgressBarContainer .HeroLevelProgressBar
{
	width: 800px;
	height: 30px;
	border-radius: 0px;
}

.ProgressBarContainer .HeroLevelProgressBar .ProgressBarLeft
{
	background-color: #B2BAE3;
}

.ProgressBarContainer .HeroLevelProgressBar .ProgressBarMiddle
{
	background-color: #ECEEFB;
	overflow: noclip;
}

.ProgressBarContainer .HeroLevelProgressBar .ProgressBarRight
{
	background-color: #393C47;
}

#HeroScenePanel
{
	horizontal-align: left;
	width: 70%;
	height: 100%;
	margin-left:-300px;
	transition-property: opacity, transform;
	transition-duration: 0.2s;
	transition-timing-function: ease-in-out;
	opacity: 0.0;
	transform: translateX( 100px );
}

.ShowPlayerHero #HeroScenePanel
{
	opacity: 1.0;
	transform: none;
}

.PlayerDetails
{
	flow-children: down;
	width: 800px;
	vertical-align: top;
	horizontal-align: right;
	margin-top: 50px;
}

.PlayerDetails .PlayerTop
{
	horizontal-align: center;
	flow-children: right;
	transition-property: opacity, transform;
	transition-duration: 1.0s;
	transition-delay: 0.3s;
	opacity: 0.0;
	transform: translateY( -20px );
}

.ShowPlayerHero .PlayerDetails .PlayerTop
{
	opacity: 1.0;
	transform: none;
}

.PlayerDetails .PlayerIdentity
{
	flow-children: down;
	vertical-align: center;
	margin: 8px;
	margin-left: 20px;
}

.PlayerDetails .PlayerIdentity #HeroBadge
{
	vertical-align: center;
	transition-property: transform;
	transition-duration: 0.2s;
	transition-timing-function: ease-in-out;
}

.PlayerDetails .PlayerIdentity #HeroBadge.LevelUp
{
	transform: scaleX(1.2) scaleY(1.2);
}

.PlayerDetails .PlayerIdentity .PlayedBy
{
	color: offWhite&10;
	horizontal-align: center;
	text-align: center;
	font-family: oracle;
	margin: 0px 0px 4px 0px;
	visibility: collapse;
}

.PlayerDetails .PlayerIdentity #PlayerName
{
	visibility: collapse;
	horizontal-align: center;
}

.PlayerDetails .PlayerIdentity #PlayerName Label
{
	margin-top: -4px;
	color: offWhite;
	text-align: center;
	font-family: oracle;
	font-size: 28px;
}

.PlayerDetails #HeroLogo
{
	horizontal-align: center;
	opacity-mask: url("s2r://panorama/images/post_game/hero_logo_mask_psd.vtex");
	opacity-mask-scale: 100% 100%;
	max-width: 400px;
}

.PlayerDetails #HeroXPRewards
{
	flow-children: down;
	horizontal-align: center;
	margin-top: 40px;
}

.PlayerDetails .HeroXPRewardContainer
{
	width: fit-children;
	opacity: 0;
	margin: 10px;
	transition-property: opacity, transform;
	transition-duration: 0.25s;
	transform: translateY( -20px );
	flow-children: right;
}

.PlayerDetails .HeroXPRewardContainer.ShowHeroXPReward
{
	opacity: 1.0;
	transform: none;
}

.PlayerDetails .HeroXPRewardContainer .RewardName
{
	font-size: 30px;
	font-weight: semi-bold;
	vertical-align: center;
	min-width: 200px;
	horizontal-align: right;
	text-align: right;
	color: grey;
	opacity: 0.5;
}

.PlayerDetails .HeroXPRewardContainer .RewardAmount
{
	margin-left: 20px;
	font-size: 30px;
	font-weight: semi-bold;
	vertical-align: center;
	horizontal-align: left;
	text-align: left;
	color: grey;
	opacity: 0.5;
}

